#* Variables de Entorno
#* 1. Es importante, que este archivo, este en la raíz del proyecto.
#* 2. Copie y pegue este archivo en la raíz.
#* 3. Renombre el archivo copiado a ".env" y la app hará el resto.
#* 4. Se recomienda dejar las variables de entorno en el orden ya especifícado.

#? Tipo de Entorno (development|production)
NODE_ENV="development"

#? Versión de Producto
VERSION="0.1.0-alpha"

#? Puertos de Aplicación
APP_PORT="81"
AUTH_PORT="8081"

#? Host de la Aplicación al Desplegarse
HOST=""

#? Ruta Absoluta de Certificados SSL
SSL_CERT=""
SSL_KEY=""

#? Conexión a Base de Datos
DB_HOST=""
DB_USER=""
DB_PWD=""
DB_NAME=""
DB_PORT=""

#? Habilitar el Cifrado de la Conexión a Base de Datos (OK|"")
DB_ENCRYPT=""

#? Habilitar Logs de Consultas a BD (OK|"")
DB_LOGS=""